<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/InventoryService" binding="netTcpBinding" contract="EchoDesertTrips.Client.Contracts.IInventoryService" />
      <endpoint name="InventoryEndPoint" address="net.tcp://127.0.0.1:8005/CustomerService" binding="netTcpBinding" contract="EchoDesertTrips.Client.Contracts.ICustomerService" />
      <endpoint name="TripEndPoint" address="net.tcp://127.0.0.1:8005/TripService" binding="netTcpBinding" contract="EchoDesertTrips.Client.Contracts.ITourService" />
      <endpoint name="OrderEndPoint" address="net.tcp://127.0.0.1:8005/OrderService" binding="netTcpBinding" contract="EchoDesertTrips.Client.Contracts.IOrderService" />
      <endpoint name="OperationEndPoint" address="net.tcp://127.0.0.1:8005/OperationService" binding="netTcpBinding" contract="EchoDesertTrips.Client.Contracts.IOperationService" />      
    </client>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>