<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->
      <service name="EchoDesertTrips.Business.Managers.Managers.InventoryManager"
               behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005/WCFWindowsServiceEcoDesertTours/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
        <endpoint address="http://127.0.0.1:8005/InventoryService"
                  binding="wsHttpBinding"
                  contract="EchoDesertTrips.Business.Contracts.IInventoryService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>

      <service name="EchoDesertTrips.Business.Managers.Managers.ReservationManager"
         behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005/WCFWindowsServiceEcoDesertTours/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
        <endpoint address="http://127.0.0.1:8005/OrderService"
                  binding="wsHttpBinding"
                  contract="EchoDesertTrips.Business.Contracts.IOrderService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>

      <service name="EchoDesertTrips.Business.Managers.Managers.OperatorManager"
         behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005/WCFWindowsServiceEcoDesertTours/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
        <endpoint address="http://127.0.0.1:8005/OperatorService"
                  binding="wsHttpBinding"
                  contract="EchoDesertTrips.Business.Contracts.IOperatorService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>

      <service name="EchoDesertTrips.Business.Managers.Managers.BroadcastorManager"
        behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005/WCFWindowsServiceEcoDesertTours/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
        <endpoint address="http://127.0.0.1:8005/BroadcastorService"
                  binding="wsDualHttpBinding"
                  bindingConfiguration="my_wsDualHttpBinding"
                  contract="EchoDesertTrips.Business.Contracts.IBroadcastorService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>

    </services>
    <bindings>
      <wsDualHttpBinding>
        <binding name="my_wsDualHttpBinding">
          <security mode="None">
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>