*.VC.opendb
*.VC.db
_EchoDesertTrips.Desktop/ 
backup/
Bootstrapper/bin/
Bootstrapper/obj/
BroadcastorService/bin/
BroadcastorService/obj/
Core.Common/bin/
Core.Common/obj/
Core.Common.Contracts/bin/
Core.Common.Contracts/obj/
Core.Common.ServiceModel/bin/
Core.Common.ServiceModel/obj/
Core.Common.UI/bin/
Core.Common.UI/obj/
DTAR_08E86330_4835_4B5C_9E5A_61F37AE1A077_DTAR/
EchoDesertTrips/bin/
EchoDesertTrips/obj/
EchoDesertTrips.BroadcastorService/bin/
EchoDesertTrips.BroadcastorService/obj/
EchoDesertTrips.Business/bin/
EchoDesertTrips.Business/obj/
EchoDesertTrips.Business.Common/bin/
EchoDesertTrips.Business.Common/obj/
EchoDesertTrips.Business.Contracts/bin/
EchoDesertTrips.Business.Contracts/obj/
EchoDesertTrips.Business.DbEntities/bin/
EchoDesertTrips.Business.DbEntities/obj/
EchoDesertTrips.Business.Entities/bin/
EchoDesertTrips.Business.Entities/obj/
EchoDesertTrips.Business.Managers/bin/
EchoDesertTrips.Business.Managers/obj/
EchoDesertTrips.Business.Managers.Tests/bin/
EchoDesertTrips.Business.Managers.Tests/obj/
EchoDesertTrips.Client.Bootstrapper/bin/
EchoDesertTrips.Client.Bootstrapper/obj/
EchoDesertTrips.Client.Contracts/bin/
EchoDesertTrips.Client.Contracts/obj/
EchoDesertTrips.Client.Entities/bin/
EchoDesertTrips.Client.Entities/obj/
EchoDesertTrips.Client.Proxies/bin/
EchoDesertTrips.Client.Proxies/obj/
EchoDesertTrips.Client.Proxies.Test/bin/
EchoDesertTrips.Client.Proxies.Test/obj/
EchoDesertTrips.Common/bin/
EchoDesertTrips.Common/obj/
EchoDesertTrips.Data/bin/
EchoDesertTrips.Data/obj/
EchoDesertTrips.Data.Contracts/bin/
EchoDesertTrips.Data.Contracts/obj/
EchoDesertTrips.Data.RepositoryTests/bin/
EchoDesertTrips.Data.RepositoryTests/obj/
EchoDesertTrips.Data.Tests/bin/
EchoDesertTrips.Data.Tests/obj/
EchoDesertTrips.Desktop/bin/
EchoDesertTrips.Desktop/obj/
EchoDesertTrips.Desktop - Copy/
EchoDesertTrips.Desktop.Tests/bin/
EchoDesertTrips.Desktop.Tests/obj/
EchoDesertTrips.ServiceHost.Console/bin/
EchoDesertTrips.ServiceHost.Console/obj/
EchoDesertTrips.ServiceHost.DesertEcoToursService/bin/
EchoDesertTrips.ServiceHost.DesertEcoToursService/obj/
EchoDesertTrips.ServiceHost.WindowsService/bin/
EchoDesertTrips.ServiceHost.WindowsService/obj/
EchoDesertTrips.ServiceHosts.Tests/bin/
EchoDesertTrips.ServiceHosts.Tests/obj/
MultiSelectComboBox/bin/
MultiSelectComboBox/obj/
obj/
packages/
WindowsService1/
