<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
     <client>
        <endpoint name="InventoryEndPoint" 
          address="net.tcp://127.0.0.1:8005/InventoryService"
          binding="netTcpBinding"
          contract="EchoDesertTrips.Business.Contracts.IInventoryService" />
       <endpoint name="InventoryEndPoint"
          address="net.tcp://127.0.0.1:8005/CustomerService"
          binding="netTcpBinding"
          contract="EchoDesertTrips.Business.Contracts.ICustomerService" />
       <endpoint name="TripEndPoint"
          address="net.tcp://127.0.0.1:8005/TripService"
          binding="netTcpBinding"
          contract="EchoDesertTrips.Business.Contracts.ITourService" />
       <endpoint name="OrderEndPoint"
           address="net.tcp://127.0.0.1:8005/OrderService"
           binding="netTcpBinding"
           contract="EchoDesertTrips.Business.Contracts.IOrderService" />
       <endpoint name="net.tcp://127.0.0.1:8005/OperationService"
           address="net.tcp://127.0.0.1:8005/OperationService"
           binding="netTcpBinding"
           contract="EchoDesertTrips.Business.Contracts.IOperationService" />
       <endpoint name="net.tcp://127.0.0.1:8005/OperatorService"
           address="net.tcp://127.0.0.1:8005/OperatorService"
           binding="netTcpBinding"
           contract="EchoDesertTrips.Business.Contracts.IOperatorService" />
     </client>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>    
  </system.serviceModel>
</configuration>